@model ProductListViewModel

 <section id="urunler" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card shadow-sm category-card">
              <div class="card-header text-white">
                <h5 class="mb-0">Kategoriler</h5>
              </div>
              <ul class="list-group list-group-flush">
               @foreach(var cat in Model.Categories)
               {
                 <li class="list-group-item">
                  <a >@cat.Name</a>
                </li>
               }
              </ul>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row g-4">
             @foreach(var prd in Model.Products)
             {
                <div class="col-md-4">
                <div class="card product-card">
                  <a asp-controller="Home" asp-action="Details" asp-route-id="@prd.ProductId">
                  <img
                    src="~/img/@prd.Image"
                    class="card-img-top"
                    alt="Ürün"
                  />
                  </a>
                  <div class="card-body text-center">
                    <h5 class="card-title">@prd.Title</h5>
                    <p class="card-text">@prd.Description</p>
                    <button class="btn btn-success">Sepete Ekle</button>
                  </div>
                </div>
              </div>
             }
            </div>
          </div>
        </div>
      </div>
    </section>
