@model List<Product>

<!-- Benzer Ürünler -->
<section class="py-5 bg-light">
  <div class="container">
    <h4 class="related-title mb-4">Benzer Ürünler</h4>
    <div class="row g-4">
        @foreach(var prd in Model)
        {
            <div class="col-md-3">
                <div class="card">
                <img src="~/img/@prd.Image" class="card-img-top" alt="Ürün">
                    <div class="card-body text-center">
                        <h6>@prd.Title</h6>
                        <p class="text-success fw-bold">₺799</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@prd.ProductId" class="btn btn-outline-success btn-sm">İncele</a>
                    </div>
                </div>
            </div>
        }
    </div>
  </div>
</section>



   