@model List<Product>

<!-- Benzer Ürünler -->
<section class="py-5 bg-light">
  <div class="container">
    <h4 class="related-title mb-4">Benzer Ürünler</h4>
    <div class="row g-4">
      <div class="col-md-3">
        <div class="card">
          <img src="https://picsum.photos/300/200?random=11" class="card-img-top" alt="Ürün">
          <div class="card-body text-center">
            <h6>Mama Sandalyesi</h6>
            <p class="text-success fw-bold">₺799</p>
            <a href="detay.html" class="btn btn-outline-success btn-sm">İncele</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

